{{yield}}
   <div class="row valign-wrapper">
      <div class="col s8">
         <h3 class="center-align">WDI2 EMBER chat</h3>
      </div>

      <div id="connectedServer" class="col s4 valign waves-effect waves-light red black-text center-align">Not connected to server</div>

   </div>

   <div id="connected">
   </div>

   <ul class="messages"></ul>
