li {
list-style-type: none;
padding: 10px 20px;
margin: 10px;
font-size: 1.3em;
}
.online{
   text-align: center;
   background: #D3D3D3;
   border-radius: 40px;
}
.joinMsg {
   text-align: center;
   font-weight: bold;
}

.ownMsg {
   text-align: right;
   background-color: #69f0ae;
}

.receivedMsg{
   text-align: left;
   background-color: #81d4fa;
}
